<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/count_down"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/count_down_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FloatingClock"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FloatingClock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FloatingClock" />

        <activity
            android:name=".PuzzleActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingClock" />

        <activity
            android:name=".PuzzleActivityEnhanced"
            android:exported="false"
            android:theme="@style/Theme.FloatingClock" />

        <activity
            android:name=".LayoutEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingClock" />

        <activity
            android:name=".WatermarkActivity"
            android:exported="false"
            android:theme="@style/Theme.FloatingClock" />

        <service
        android:name=".FloatService"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.yoyofloatingclock.FloatService" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </service>
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 声明相机硬件特性，但不强制要求，允许在无相机设备上安装 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

</manifest>